.twoTable{
    margin-top: 15%;
    text-align: center;
}
.titleOfTable div{
    vertical-align: top;
    display: inline-block;
    width: 50px;
    height: 25px;
}
.timeOfTable div{
    border: 1px solid black;
    display: inline-block;
    vertical-align: top;
    width: 50px;
    height: 25px;
}
.tables{
    display: inline-block;
    vertical-align: top;
}