{% extends 'base_userForm.html' %}
{% block body %}
<h3 id="projectName">{{ post.projectName }}</h3>
<div class = "twoTable">
    <div id="userTable" class="tables">
        <h4 style="font-weight: bold;">{{ post.userName }}'s Availability</h4>
        <h6>Click and Drag to Toggle; Saved Immediately</h6>
        <br>
    </div>
    <div id = "integrateTable" class="tables" style="margin-left: 20%;">
        <h4 style="font-weight: bold;">Group's Availability</h4>
        <h6>Mouseover the calendar to see who is available avariable</h6>
        <br>
    </div>
</div>
<div id="bottomBlock"></div>
{% endblock %}