{% extends 'base_register.html' %}
{% block body %}
{% load static %}
<form method="POST" action="/" style="text-align: center;">
    {% csrf_token %}
    <div style="height: 10vh"></div>
    <div id="aboutTime2Meet" >
        <h3>關於 Time2Meet</h3>
        <p style="margin-top: 2px">
            Time2Meet 為參考 When2meet 網站練習製作<br>
            Time2Meet 僅為練習用，不牽扯營利之行為<br>
            Time2Meet 可以幫助聚會發起人更方便統計時間及人數<br>
            Time2Meet 提供使用者填寫更多參與狀態，包括：參與、尚未確定是否可參與、無法參與<br>
        </p>
    </div>
    <div id="demo" style="margin-top: 30px">
        <h3>操作說明</h3>
        <p style="margin-top: 2px">
            - 參與者 -<br>
            於左側表格點擊及拖曳，滑鼠鬆開即可儲存<br>
            - 聚會發起人 -<br>
            當滑鼠游標進入右側表格，即可查看當前時段的參與狀況及人員名單<br>
        </p>
    </div>
</form>
{% endblock %}